@use './abstracts' as*;

section, .container, footer{
  padding: 1.5rem 1rem;
  @include tablet{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@for $i from 0 through 11 {
  .col-#{$i + 1} {
    width: calc((100% / (12 - #{$i})) + 1.5rem * #{$i});
    margin-left: 1rem;
  }
}
