@use './partials/abstracts' as*;
.hero{
    min-height: 20rem;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
    background-size: cover;

    &__heading{
        color: var(--White);
    }
}

.section{
    &__heading, &__image, &__description{
        padding-bottom: 16px;
    }

    &__quote{
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 150%;
        margin: 0;
        &__inner{
            margin: 0;
        }
    }

    &__subheading{
        font-weight: 600;
    }

    &__gallery{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 1rem;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;
            &__image{
                width: calc(50% - 1rem);
            }
        }

        @include desktop{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;
            &__image{
                width: calc(33% - 2rem);
            }
        }
    }

}