:root {
  --font-face: "AvernirNextLTPro";
  --BandSite-Black: #323232;
  --Silver: #afafaf;
  --White: #fff;
  --BandSite-DarkBlack: #000;
  --Mercury: #e1e1e1;
  --Alabaster: #fafafa;
  --Text-white: #fff;
  --text-body: #000;
}

@font-face {
  font-family: AvernirNextLTPro;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../assets/Font/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: AvernirNextLTPro;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: AvernirNextLTPro;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
svg,
picture {
  width: 100%;
  display: block;
}

body {
  font-family: var(--font-face), sans-serif;
  font-kerning: auto;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-family: var(--font-face), sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 1rem;
}
@media (width >= 768px) {
  h1 {
    font-size: 3.75rem;
    padding-bottom: 2.25rem;
  }
}

h2 {
  margin: 0;
  font-family: var(--font-face), sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 1rem;
}
@media (width >= 768px) {
  h2 {
    font-size: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  margin: 0;
  font-family: var(--font-face), sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 1rem;
}
@media (width >= 768px) {
  h3 {
    padding-bottom: 2.25rem;
  }
}

p {
  font-family: var(--font-face), sans-serif;
  line-height: 150%;
  margin: 0;
}
@media (width >= 768px) {
  p {
    line-height: 180%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section:nth-of-type(odd) {
  background-color: var(--Alabaster);
}

section, .container, footer {
  padding: 1.5rem 1rem;
}
@media (width >= 768px) {
  section, .container, footer {
    padding: 3rem 2.25rem;
  }
}
@media (width >= 1280px) {
  section, .container, footer {
    padding: 3rem calc((100% - 1020px) / 2);
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc((100% / (12 - 0)) + 1.5rem * 0);
  margin-left: 1rem;
}

.col-2 {
  width: calc((100% / (12 - 1)) + 1.5rem * 1);
  margin-left: 1rem;
}

.col-3 {
  width: calc((100% / (12 - 2)) + 1.5rem * 2);
  margin-left: 1rem;
}

.col-4 {
  width: calc((100% / (12 - 3)) + 1.5rem * 3);
  margin-left: 1rem;
}

.col-5 {
  width: calc((100% / (12 - 4)) + 1.5rem * 4);
  margin-left: 1rem;
}

.col-6 {
  width: calc((100% / (12 - 5)) + 1.5rem * 5);
  margin-left: 1rem;
}

.col-7 {
  width: calc((100% / (12 - 6)) + 1.5rem * 6);
  margin-left: 1rem;
}

.col-8 {
  width: calc((100% / (12 - 7)) + 1.5rem * 7);
  margin-left: 1rem;
}

.col-9 {
  width: calc((100% / (12 - 8)) + 1.5rem * 8);
  margin-left: 1rem;
}

.col-10 {
  width: calc((100% / (12 - 9)) + 1.5rem * 9);
  margin-left: 1rem;
}

.col-11 {
  width: calc((100% / (12 - 10)) + 1.5rem * 10);
  margin-left: 1rem;
}

.col-12 {
  width: calc((100% / (12 - 11)) + 1.5rem * 11);
  margin-left: 1rem;
}

nav,
.nav {
  display: flex;
  background-color: var(--BandSite-Black);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}
@media (width >= 768px) {
  nav,
  .nav {
    justify-content: flex-start;
    flex-direction: row;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    padding-left: 2rem;
    padding-top: 0;
  }
}
nav__logo,
.nav__logo {
  padding: 0rem;
  max-height: 20px;
  max-width: 120px;
}
@media (width >= 768px) {
  nav__logo,
  .nav__logo {
    padding: 0;
  }
}
nav__logo img,
.nav__logo img {
  height: 100%;
}
nav__links,
.nav__links {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}
@media (width >= 768px) {
  nav__links,
  .nav__links {
    flex: 0 0 fit-content;
  }
}
nav__links__list,
.nav__links__list {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
@media (width >= 768px) {
  nav__links__list,
  .nav__links__list {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (width >= 1280px) {
  nav__links__list,
  .nav__links__list {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
nav__links__list a,
.nav__links__list a {
  display: flex;
  width: 100%;
}
nav__links__list li,
.nav__links__list li {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  color: var(--White);
  text-decoration: none;
  flex: 1 1 auto;
}
nav__links__list__item,
.nav__links__list__item {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 1.5rem;
  margin: 0;
  color: var(--White);
  text-decoration: none;
  flex: 1 1 auto;
}
@media (width >= 768px) {
  nav__links__list__item,
  .nav__links__list__item {
    padding: 2rem 0;
  }
}
nav__links__list__item__active,
.nav__links__list__item__active {
  border-bottom: 4px solid var(--White);
  font-weight: 600;
}

footer, .footer {
  background-color: var(--BandSite-Black);
  color: var(--Text-white);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  line-height: 150%;
}
footer > first-child, .footer > first-child {
  justify-content: space-between;
  align-items: center;
}
footer__logo__large, .footer__logo__large {
  display: none;
}
@media (width >= 768px) {
  footer__logo__large, .footer__logo__large {
    display: flex;
  }
}
footer__row, .footer__row {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (width >= 768px) {
  footer__row, .footer__row {
    flex-direction: row;
    flex: 1 1 auto;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
footer__section, .footer__section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer__heading, .footer__heading {
  font-weight: 600;
  padding-bottom: 0;
}
footer__socials, .footer__socials {
  display: inherit;
  padding: 0;
  margin: 0;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
footer__socials__links, .footer__socials__links {
  display: flex;
  list-style: none;
  align-items: center;
}
footer__socials__links img, .footer__socials__links img {
  height: 1.5rem;
  width: auto;
}
footer__contact, .footer__contact {
  line-height: 150%;
  font-weight: 600;
}
footer__logo, .footer__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media (width >= 768px) {
  footer__logo, .footer__logo {
    display: none;
  }
}
footer__legal, .footer__legal {
  font-size: 0.75rem;
}
@media (width >= 768px) {
  footer__legal, .footer__legal {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */