@use "./partials/abstracts" as *;
@use "./partials/divder";

.table {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1 1 auto;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 0.75rem;

    button,
    .button {
      width: 100%;
    }
  }

  &__date {
    font-weight: 600;
  }

  &__label {
    display: none;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--Silver);
    @include tablet {
      display: flex;
    }
    &__mobile {
      font-size: 0.75rem;
      font-weight: 600;
      color: var(--Silver);
      display: flex;
      @include tablet {
        display: none;
      }
    }
  }
}

hr,
.divider {
  margin-top: 1.5rem;
}

.hero {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Images/Photo-gallery-3.jpg);
  background-size: cover;
  background-position: center;
  row-gap: 2rem;
  column-gap: 2rem;
  @include tablet {
    flex-direction: column;
    min-height: 30rem;
  }

  @include desktop{
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
  }

  &__heading {
    color: var(--White);
  }

  &__sub__heading {
    font-weight: 400;
    color: var(--White);
  }
}

.iframe{
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 1rem black;
    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
